{% include JB/header %}

	<body>
		<div class="navbar">
			<img id="profile" src="/blog-assets/susu.jpg" alt="susu">
			<ul class="nav">
				{% assign pages_list = site.pages %}
				{% assign group = 'tag' %}
				{% include JB/menu_list %}
			</ul>
		</div>
		{% if page.category == "a" %}
			{% assign title = '最新文章' %}
		{% else %}
			{% assign title = page.category %}
		{% endif %}
		<div id="sidebar">
			<div id="title_wrap" class="title{{ index }}">
				<h2 class="title">{{ title }}</h2>
			</div>
			{% if page.category == "a" %}
				<ul class="posts">
				  {% for post in site.posts %}
				    <li><a class="cate title{{ index }}" href="{{ BASE_PATH }}{{ post.url }}"><span class="circle_icon"></span>{{ post.title }}<span class='date'>{{ post.date | date_to_string }}</span></a></li>
				  {% endfor %}
				</ul>
			{% else %}
				{% for category in site.categories %}
					{% if category[0] == page.category %}
					<ul class="posts">
						{% assign pages_list = category[1] %}
						{% include JB/pages_list %}
					</ul>
					{% else %}
					{% endif %}
				{% endfor %}
			{% endif %}

		</div>
		<div id="container">
			<button class="navbar-toggle" type="button">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
      		</button>
			<div id="pjax">
				<article id="post" class="title{{ index }}">
					<header id="header">
						<h1 id="identifier">
							{% if page.category !="a" %}
								{{ site.categories[page.category][0].title }}
							{% else %}
								{{ site.posts[0].title }}
							{% endif %}
						</h1>
					</header>
					<div id="content">
						{{content}}
					</div>
				</article>
			</div>
		</div>
{% include JB/footer %}